*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
/.idea/deviceManager.xml
/.idea/deploymentTargetDropDown.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/studiobot.xml
/.idea/planningMode.xml
/.idea/migrations.xml
/.idea/markdown.xml
/.idea/compiler.xml
/.idea/AndroidProjectSystem.xml
/.idea/deviceStreaming.xml
.DS_Store
/build
/app/build
captures
.externalNativeBuild
.cxx
local.properties
